.home--login{
    background-color: var(--slack-button-color) !important;
    color: white !important;
    font-weight: 900 !important;
    border:  none !important;
    border-radius:8px !important;
    height: 50px !important;
    margin-top: 20px !important;
    font-size: 20px !important;
    margin-bottom: 20px!important;
}

.home--siginup{
    background-color: var(--slack-button-color) !important;
    color: white !important;
    font-weight: 900 !important;
    border:  none !important;
    border-radius: 8px !important;
    height: 50px !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.home--message >h1{
    flex: 1;
    font-weight: 800;
}

.home--horizontal-line{
    color: var(--slack-border) !important;
}

.home--horizontal-text{
    color: var(--slack-string-light) !important;
    font-size: 16px !important;
}

.home--message{
    text-align:center;
    color: var(--slack-string);
}