.selectUser--header{
    text-align:center;
    color: var(--slack-string);
    padding: 10px;
}

.selectUser--title{
    font-size: 20px;
}

.selectUser--header >h1{
    flex: 1;
    font-weight: 800;
}