.signup--button{
    background-color: var(--slack-button-color) !important;
    color: white !important;
    font-weight: 900 !important;
    border:  none !important;
    border-radius: 8px !important;
    height: 50px !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.signup--message{
    text-align:center;
    color: var(--slack-string);
}

.signup--input-box{
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    color: var(--slack-string-light) !important;
}

.signup--login-link{
    text-align:center;
    margin-top: 10px ;
}

.signup--login-text{
    color: var(--slack-string-light) !important;
}