.post-Button{
    height: 40px !important;
    border-radius: 5px!important;
    margin-top: 20px !important;
    margin-left: auto !important;
    border: 0px !important;
}

.post--postButton{
    background-color: white !important;
    color: lightgray !important;
    font-weight: 900 !important;
    width: 80px !important;
    border-color: lightgray !important;
    border: 0px !important;
}

.post--postButton--active{
    background-color: var(--slack-string-light) !important;
    color: white !important;
}

.post--translateButton{
    background-color: white !important;
    color: lightgray !important;
    border-color: lightgray !important;
    border: 0px !important;
}

.post--translateButton--active{
    background-color: var(--slack-string-light) !important;
    color: white !important;
}