.right-sidebar{
    color: var(--slack-background);
    flex: 0.25;
    min-width: 250px;
    overflow-y: scroll;
}

.right-sidebar::-webkit-scrollbar{
    display: none;
}

.right-sidebar--header{
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--slack-color);
    color: var(--slack-background);
}

.right-sidebar--post{
    position: sticky;
    top: 40px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid var(--slack-background);
}
.right-sidebar--header >h2{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-size: 25px ;
}

.right-sidebar--headerSpecial{
    color: var(--slack-string-light);
    margin-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.right-sidebar--reply{
    color: var(--slack-string-light);
    padding-left: 10px;
    padding-top: 5px;
}